.queue {
  &__title {
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 2rem;
  }
  &__button {
    &--sessions {
      margin-top: 10px;
    }
  }
}

.queue-ticket {
  padding-top: 100px;
  text-align: center;
  &__title {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 8rem;
    font-weight: 700;
  }
}