.queue {
  &__title {
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    font-size: 2rem;
  }
  &__button {
    &--sessions {
      margin-top: 10px;
    }
  }
}

.queue-ticket {
  padding-top: 100px;
  text-align: center;
  &__title {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 8rem;
    font-weight: 700;
  }
}

.queue-registration {
  bottom: 0;
  left: 0;
  right: 0;
  &__title {
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}

.queue-registration-form {
  &__alert {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color:indianred;
  }
}